h1,
h2,
h3,
h4,
h5,
h6,
p,
div,
section {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}
body,
html {
  overflow-x: hidden;
}

.header-icons {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  vertical-align: middle;
}

.user {
  color: rgb(51, 51, 51);
  position: absolute;
  right: 20px;
}
.search-icon {
  display: none;
}
.space {
  display: none;
}

.side-buttons {
  position: absolute;
  margin-top: 30px;
  right: 20px;
  text-align: right;
}  

.subscribe {
  border-right: 1px solid black;
  padding-right: 5px;
  font-size: .7em;
  color: rgb(50,104,145);
}

.login {
  padding-left: 1px;
  font-size: .7em;
  color: rgb(50,104,145);
}

.Space-header {
  padding: 50px 0 20px 15px;
  font-size: 15px;
}

.space-line {
  margin: 0 15px;
}

.social-icons {
  display: flex;
  align-items: center;
}

.social-icons li {
  list-style: none;
  vertical-align: middle;
}

.social-link  {
  padding-right: 2rem;
}

.social-link a {
  display: inline-block;
  line-height: 30px;
  width: 30px;
  height: 30px;
  text-align: center;
  text-align: center;
  border-radius: 50%;
  background-color: #EEEEEE;
}

.main-image {
  width: 100%;
  padding-top: 20px;
}

.image-text {
  padding: 5px 10px;
  font-family: 'Times New Roman', Times, serif;
  text-align: left;
  color: rgb(110, 108, 108); 
}

.title-article {
  padding: 5px 10px;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.sub-title-article {
  color: rgb(51, 51, 51);
  font-size: .8rem;
  padding: 20px 10px;
}

.article-button-1 {
  display: block;
  text-align: center;
  padding-top: 10px;
  font-family: 'Times New Roman', Times, serif;
  font-weight: bolder;
  color: rgb(0, 0, 0);
}

.article-button-2 {
  display: block;
  text-align: center;
  padding-bottom: 10px;
  font-family: 'Times New Roman', Times, serif;
  font-weight: bolder;
  color: rgb(50,104,145);
}

.article-body {
  font-size: 1.2em;
  color: rgb(51, 51, 51);
  padding: 5px 10px;
}

.article-line {
  width: 15%;
}

.side-section {
  width: 100%;

  position: relative;
}

.side-img {
  display: none;
}

.side-title {
  color: rgb(110, 108, 108);
  position: absolute;
  top: 10px; 
  left: 20px;
}

.side-carousel-1 {
  display: block;
  border-top: 1px solid rgb(110, 108, 108);
  border-bottom: 1px solid rgb(110, 108, 108);
  display: flex;
  flex-wrap: nowrap;
  overflow: auto;
  margin: 20px;
  padding: 20px;
  position: relative;
}

.side-img-text-1 {
  border-left: 1px solid rgb(110, 108, 108);
  margin-top: 30px;
  padding: 30px 30px;
  flex: 0 0 auto; 
}

.topic {
  padding: 25px 10px;
  text-align: left;
  font-size: 1.2rem;
  color: rgb(51, 51, 51);
}

.inflation {
  background: url(../images/inflation-945.png);
  background-repeat: no-repeat;
  background-size: 720px 648px; 
  width: 100%;
  height: 648px;
  position: relative;
}

.inflation-text {
  text-align: left;
  width: 48%;
} 

.inflation-text {
  display: none;
}

  .inflation-text-1,
  .inflation-text-2,
  .inflation-text-5,
  .inflation-text-6 {
  display: block;
  position: absolute;
}   

.inflation-text-1 {
  top: 22%;
}

.inflation-text-2 {
  top: 22%;
  right: 0;
}

.inflation-text-5 {
  top: 72%;
}
.inflation-text-6 {
  top: 72%;
  right: 0;
}

.head-larry {
  padding: 40px 0;
}

.article-hr {
  width: 15%;
  margin-left: 10px;
}

.larry {
  font-family: 'Times New Roman', Times, serif;
  padding: 10px 10px 20px;
}

.image-caption {
  color: grey;
  text-align: left;
  padding: 0 10px;
}

.btn-div {
  text-align: center;
  padding-bottom: 20px;
}

.bottom-article {
  padding: 10px 0;
}

.button {
  background-color: #567B95;
  text-align: center;
  padding: 10px 100px;
  border-radius: 3px;
  border: 1px solid rgb(50, 104, 145);
  color: white;
}

.space-astronomy {
  width: 100%;
  display: none;
}

.wrapper {
  width: 100%;
  position: relative;
}

.editors-pick { 
  width: 350px;
}

.most-popular {
  display: none;
}

.space-astronomy-1 {
  display: block;
}

.space-astronomy-2,
.space-astronomy-3 {
  display: block;
}

.editors-pick-2,
.editors-pick-3 {  
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.editors-img-1 {
  height: 200px;
  width: 100%; 
}

.editors-img-2,
.editors-img-3 {
  margin: 20px; 
  height: 60px;
  width: 60px;
}

.editor-img-wrap {
  order: 2;
}

.img-source {
  text-align: end;
  margin-right: 10px;
  font-size: .7rem;
  color: grey;
}

.img-source-2,
.img-source-3 {
  position: relative;
  display: none;
}

.img-date {
  font-size: .7rem;
  color: grey;
}

.caption-wrap-1,
.caption-wrap-2,
.caption-wrap-3 {
  text-align: left;
  order: 1;
  padding: 0 20px;
}

.editor-line-1 {
  font-weight: bolder;
}

.editor-line-2,
.editor-line-3 {
  margin-left: 20px;
  width: 90%; 
}

.footer-first-items {
  list-style: none;
  border-top-style: double;
  border-color: rgb(110, 108, 108);
}

.footer-items {
  margin-left: 10px;
}

.logo {
  margin-top: 10px;
  vertical-align: middle;
}

.home {
  margin-top: 10px;
  display: inline-block;
  vertical-align: middle;
  font-size: .6rem;
  padding-left: 25px;
}

.aside,
.sub-list {
  display: none;
}
.mobile {
  width: 100%;
  padding-left: 0;
}

.mobile-footer  {
  list-style: none;
  color: rgb(51, 51, 51);
  font-size: .6rem;
  font-weight: bolder;
} 

ul.mobile li {
  list-style: none;
}

.subscribe-aside {
  display: none;
}

.footer-items {
  list-style: none;
  display: inline-block;
}

.footer-text-1 {
  text-align: center;
}

.footer-down {
  text-align: center;
  width: 90%;
  padding-left: 0;
  margin-left: 0;
}

.footer-text {
  font-size: .7rem;
  color: rgb(110, 108, 108);
}

.footer-list {
  font-size: .7rem;
  color: rgb(110, 108, 108);
}

@media (min-width: 768px) {
  .Space-header {
    padding: 70px 50px 10px 70px;
    font-size: 20px;
  }

  .space-line {
    margin: 0 70px;
  }

  .social-icons {
    padding: 0 60px;
  }
  .title-article {
    font-size: 20px;
    color: rgb(51, 51, 51);
    line-height: .5;
  }

  .sub-title-article {
    font-size: 20px;
  }

  .inflation-section {
    padding: 10px;
  }

  article {
    padding: 0 60px;
  }

  .inflation {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 100%;
  } 

  .inflation-text {
    display: block;
    width: 25%;
    right: unset;
    top: unset;
    position: relative;
  }

  .inflation-text:nth-child(1),
  .inflation-text:nth-child(2),
  .inflation-text:nth-child(3),
  .inflation-text:nth-child(4) {
    margin-top: 150px;
  }

  .inflation-text:nth-child(5),
  .inflation-text:nth-child(6),
  .inflation-text:nth-child(7),
  .inflation-text:nth-child(8) {
    margin-top: 140px;
  }

  .side-section {
    display: none;
  }

  .youtube {
    width: 600px;
    height: 300px;
  }

  .image-caption {
    font-size: 1rem;
  }

  .article-body {
    font-size: 1.5rem;
    color: rgb(51, 51, 51);
    padding: 5px 10px;
  }
  .bottom-article {
    width: 100%;
  }
  .btn-div {
    display: inline-block;
  }

  .icon-button {
    width: 20%;
    display: inline-block;
    transform: scale(.8);
  }
  .astronomy {
    width: 100%;
    height: 1500px;
  }
  
  .space-astronomy {
    display: block;
    width: 50%;
  }

  .space-astronomy-5,
  .space-astronomy-6 {
    display: none;
  }
  
  .editor-line {
    display: none;
  }

  .editor-line-1 {
    display: block;
    width: 60%;
    margin-left: 10px;
    position: absolute;
  }
  .editor-header {
    padding: 20px 0;
  }

  .section-wrapper {
    width: 100%;
    display: flex;
    position: relative;
  }

  .second-editor {
    display: block;
  }
  
  .editors-section,
  .planet {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: unset;
    width: 70%;
  } 

  .most-popular {
    display: block;
    width: 30%;
    position: absolute;
    right: 0;
    top: 0;
    color: rgb(51, 51, 51);
    font-weight: 400px;
  }
  
  .editors-img {
    width: 200px;
    height: 100px;
    padding: unset;
    margin: unset;
  } 

  .caption-wrap {
    padding: 0;
  }

  .img-source {
    display: block;
  }

  .editors-pick {
    display: inline-block;
    padding: 50px 10px 10px 10px;
    width: 80%;
    color: rgb(51, 51, 51);
    font-weight: 400px;
  }

  .space-3,
  .space-4 {
    display: none;
  }
  
  .footer-section {
    display: none;
  }

}

@media (min-width: 992px) {
  .bar {
    display: inline-block;
    padding: 0 10px;
  }

  .search-icon {
    display: inline-block;
    padding: 0 10px;
  }

  .space {
    display: inline-block;
    padding: 0 10px;
  }


  a.space-cosmos {
    text-decoration: none;
    color: black;
    font-weight: bolder;
  }

  .user {
    display: none;
  }

  .side-buttons {
    position: relative;
    margin-top: 0;
    display: inline-block;
  }

  .subscribe {
    background-color: rgb(50, 104, 145);
    border: rgb(0, 60, 105);
    padding: 11px 12px 8px;
    position: relative;
    font-size: 10px;
    color: white;
    border-radius: 5px;
  }

  .login {
    padding: 11px 12px 8px;
    background-color: rgb(50, 104, 145);
    border: rgb(0, 60, 105); 
    position: relative;
    font-size: 10px;
    color: white;
    border-radius: 5px;
  }

  
  .Space-header {
    padding: 100px 400px 20px 350px;
    width: 50%;
  }

  .space-line {
    margin: 0 350px;
    width: 40%;
    color: rgb(51, 51, 51)
  }

  .social-icons {
    padding: 20px 400px 0 350px;
    width: 40%;
  }

  .main-image {
    width: 80%;
    margin: 20px 200px 0;
  }

  .image-text {
    margin: 0 200px;
    padding: 0;
    font-size: 1rem;
    width: 50%;
  }

  article {
    margin: 0 auto;
    width: 50%;
    text-align: justify;
    line-height: 1.5;
  }

  .title-article {
    font-size: 25px;
    color: rgb(51, 51, 51);
    line-height: .5;
    padding-top: 50px;
  }

  .sub-title-article {
    font-size: 20px;
    line-height: .5;
  }

  .topic {
    font-size: 30px;
    font-weight: bolder;
  }

  .inflation-header {
    padding-top: 50px;
    width: 100%;
    text-align: left;
  }

  .article-body {
    font-size: 20px;
  }

  .article-button-1 {
    font-size: 20px;
  }
  .article-button-2 {
    font-size: 20px;
  }

  .inflation-section {
    margin: 0 50px 0 150px;
  }

  .sub-title-article-f {
    line-height: 1;
    font-size: 1rem;
    color: rgb(110, 108, 108);
  }

  .button-article {
    position: relative;
  }

  .inflation {
    background-repeat: no-repeat;
    background-size: 1000px 648px; 
    width: 1000px;
    height: 648px;
  }

  .inflation-text {
    display: block;
    text-align: left;
    width: 24%;
    top: unset;
    font-size: 1.2rem;
    line-height: 1;
    color: rgb(51, 51, 51);
  }
  
  .head-larry {
    margin: 0 50px 0 150px;
    position: relative;
  }

  .youtube {
    margin: 0 15px;
    width: 650px;
    height: 400px;
  }

  .prof-section {
    width: 100%;
  }
  .prof {
    margin: 0 15px;
    text-align: left;
    width: 30%;
  }
  
  .main-image-1 {
    width: 650px;
    margin: 0;
    padding: 5px 0;
  }

  .image-container {
    width: 100%;
  }

  .image-caption {
    width: 90%;
    padding: 0;
    font-size: 1rem;
    text-align: left;
  }
  .side-title {
    padding-left: 15px;
  }

  .side-carousel {
    display: block;
    border: none;
    display: flex;
    flex-wrap: wrap;
    overflow: unset;
    flex-wrap: wrap;
    width: 30%;
  }

  .side-wrapper {
    display: flex;
    vertical-align: middle;
  }

  .side-img {
    display: block;
  }

  .side-pic {
  padding: 5px;
  width: 100px;
  height: 100px; 
  }

  .side-img-text-1 {
    border-left: none;
    text-align: left;
    width: 35%;
    margin-top: 5px;
    padding: 5px 5px;
  }
  
  .side-wrapper-4,
  .side-wrapper-5,
  .side-wrapper-6,
  .side-wrapper-7,
  .side-wrapper-8,
  .side-wrapper-9 {
    display: none;
  }
  
  .side-section {
    display: block;
    position: absolute;
    text-align: end;
    margin-left: 700px;
  }
  
  .btn-div {
    text-align: left;
  }

  .button {
    width: 100%;
    padding: 10px 100px;
  }
  .bottom-article {
    vertical-align: middle;
    position: relative;
  }
  .icon-button {
    position: absolute;
    bottom: 15px;
    left: 100px;
  }



  .space-astronomy {
    display: block;
    width: 30%;
  }
  
  .editors-pick {
    width: 70%;
  }
  
  
  .most-popular {
    width: 20%;
    line-height: 2;
    right: 15%;
  }
  
  .editors-img {
    width: 250px;
    height: 150px;
    padding: unset;
    margin: unset;
  }

  .editor-img-wrap {
    width: 250px;
  }

  .caption-wrap {
    width: 250px;
  }
  .editors-section, 
  .planet {
    width: 70%;
    justify-content: unset;
    position: relative;
  }
  .editor-line-1 {
    width: 88%;
  }

  .editor-header {
    top: 5px;
  }
  
  .astronomy {
    margin-left: 100px;
  }

  .footer-section {
    margin: 0 50px;
  }

  .footer-top {
    width: 100%;
    vertical-align: middle;
  }

  .home {
    position: absolute;
    right: 70px;
    font-size: 10px;
  }

  .aside-icons {
    padding: 0 2px;
  }

  .footer-line {
    display: none;
  } 

  .mobile {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  ul.mobile li {
    list-style: none;
  }

  .mobile-footer {
    font-weight: bolder;
    font-size: .8rem;
  }

  .more {
    display: none;
  }
  .lister {
    border-left: 1px solid rgb(110, 108, 108);
    display: block;
    width: 100%;
    padding-left: 0;
    color: rgb(51, 51, 51);
    font-size: 14px; display: block;
    width: 100%;
    padding-left: 10px;
    color: rgb(51, 51, 51);
    font-size: .7rem;
    line-height: 2;
  }

  .subscribe-aside {
    display: block;
  }

  .sub-list {
    display: block;
    width: 100%;
    padding-left: 0;
    line-height: 1.5rem;
    color: rgb(51, 51, 51);
    font-size: 14px;
  }

  ul.sub-list li {
    list-style: none;
  }

  .sub-list-1 {
    margin-left: 1px solid black;
  }

  .bottom-list {
    width: 100%;
    border-top: 1px solid rgb(110, 108, 108);
  }

  .footer-text-1 {
    text-align: left;
    margin-top: 2px;

  }

  .footer-down {
    text-align: end;
    margin-top: -17px;
    padding-left: 80px;
  }

  .aside {
    display: block;
  }

  
  .footer-first-items {
    list-style: none;
    width: 100%;
  }

}