*/ {
  padding: 0;
  margin: 0;
}
a {
  text-decoration: none;
}

.header-icons {
width: 100%;
display: flex;
align-items: center;
justify-content: space-between;
}

.search-icon {
  display: none;
}
.space {
  display: none;
}

.side-buttons {
  padding-left: 30%;
  text-align: right;
}  

.subscribe {
  border-right: 1px solid black;
  padding-right: 5px;
  font-size: .7em;
}

.login {
  padding-left: 1px;
  font-size: .7em;
}

.social-icons {
  display: flex;
  align-items: center;
}

.social-icons li {
  list-style: none;
  text-align: center;
  vertical-align: middle;
}

ul li  {
  padding-right: 2rem;
}
ul li a {
  display: inline-block;
  line-height: 30px;
  width: 30px;
  height: 30px;
  text-align: center;
  text-align: center;
  border-radius: 50%;
  background-color: #EEEEEE;
}

/* li a {
  display: inline-block;   
  text-align: center;
  font-size: 15px;
  width: 30px;
  height: 30px;
  margin: 0 auto;
  border-radius: 50%;
  background-color: #EEEEEE;
} */

.main-image {
  width: 100%;
  padding-top: 10%;
}
.image-text {
  width: 100%;
  text-align: left;
  color: grey;
  font-size: 1em; 
}
.title-article {
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.sub-title-article {
  color: grey;
}
.article-button {
  display: block;
  text-align: center;
}

.article-body {
  font-size: 1.2em;
  color: black;
}
.article-line {
  width: 15%;
}
.inflation {
  
}

.inflation-image {
 width: 200%;
}

.inflation {
  background-image: url("");
}

.inflation-text {
display: block;
text-align: center;
}