a {
  text-decoration: none;
}

.header-icons {
width: 100%;
display: flex;
align-items: center;
justify-content: space-between;
}
  
/* .logo {
 
}
  
.user {
  
}  */
.side-buttons {
  padding-left: 30%;
  text-align: right;
}  
.subscribe {
  border-right: 1px solid black;
  padding-right: 5px;
  font-size: .7em;
}

.login {
  padding-left: 1px;
  font-size: .7em;
}

